/****************** CSS RESET **********************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*********************************************************
                    MAIN CSS CODE
**********************************************************/
/* All styles not in a media query are for the mobile layout/defaults */

/* FONT DECLARATION */
/* @font-face declarations for some header fonts */
@font-face {
	font-family: 'Extrabold';
	src: url('Montserrat-ExtraBold.ttf') format('truetype');
}
/************ DEFAULT PAGE STYLES *************/
html {
	background-color: #f7f7ff;
	font-family: 'Montserrat', sans-serif;
	color: #333131;
}
footer {
	background-color: #fffd8c;
	
}
.container {
	margin: 0 auto;
	padding: 30px;
}


/*********** PAGE ELEMENT STYLES *************/
/* logo sizing */
.logo {
	width: 125px;
	height: auto;
	padding-bottom: 20px;
}
/* header and text styles/sizes */
h1 {
	font-size: 5rem;
	font-weight: bold;
}
h2 {
	font-size: 3rem;
	font-weight: bold;
}
h3 {
	font-size: 1.75rem;
	padding-top: 10px;
}

/* Application box styles */
/* adding box shadow and rounding corners */
.apply {
	box-shadow: 8px 10px 20px gray;
	border-radius: 25px;
}
/* adding padding, margin, etc to text elements */
.container h2 {
	padding-bottom: 20px;
}
/* input boxes styles */
.appinput {
	border: 0px;
	margin-top: 12px;
	margin-bottom: 12px;
	font-size: 1rem;
	width: 100%;
}
/* Making the placeholder text a lighter color to contrast the other headings */
::placeholder {
	color: rgb(180, 180, 180);
}
/* checkbox button styles */
.checkbox {
	height: 25px;
	width: 25px;
}
label, input {
	display: inline-block;
	vertical-align: middle;
}
/* DRIVE WITH US button styles */
button.drivebutt {
	border: 0px;
	border-radius: 20px;
	background-color: #57eeab;
	padding: 17px;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 100%;
	/* text styles */
	font-weight: bold;
	font-size: 1.5rem;
}


/************** FOOTER STYLES **************/
.calcbutton {
	width: 100%;
}
#hours {
	width: 33%;
}
#days {
	width: 66%;
}