/****************** CSS RESET **********************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*********************************************************
                    MAIN CSS CODE
**********************************************************/
/* All styles not in a media query are for the mobile layout/defaults */

/* FONT DECLARATION */
/* @font-face declarations for some header fonts */
@font-face {
	font-family: 'Extrabold';
	src: url('Montserrat-ExtraBold.ttf') format('truetype');
}
/************ DEFAULT PAGE STYLES *************/
html {
	background-color: #f7f7ff;
	font-family: 'Montserrat', sans-serif;
	color: #333131;
	font-size: 100%;
}
footer {
	background-color: #fffd8c;
	
}
.container {
	margin: 0 auto;
	padding: 30px;
	max-width: 85%;
}
/*********** PAGE ELEMENT STYLES *************/
/* header and text styles/sizes */
h1 {
	font-size: 5rem;
	font-weight: bold;
}
h2 {
	font-size: 3rem;
	font-weight: bold;
}
h3 {
	font-size: 1.75rem;
	padding-top: 10px;
}
/* logo sizing */
.logo {
	width: 25%;
	height: auto;
	padding-bottom: 20px;
}
/* scooter image sizing */
.scooter {
	width:auto;
	height: auto;
}

/* Application box styles */
/* adding box shadow and rounding corners */
.apply {
	box-shadow: 8px 10px 20px gray;
	border-radius: 25px;
	margin-top: 30px;
	margin-bottom: 30px;
}
/* adding padding, margin, etc to text elements */
.container h2 {
	padding-bottom: 20px;
}
/* input boxes styles */
.appinput {
	border: 0px;
	margin-top: 12px;
	margin-bottom: 12px;
	font-size: 1rem;
	width: 100%;
}
/* Making the placeholder text a lighter color to contrast the other headings */
::placeholder {
	color: rgb(180, 180, 180);
}
/* checkbox button styles */
.checkbox {
	height: 25px;
	width: 25px;
}
label, input {
	display: inline-block;
	vertical-align: middle;
}
/* DRIVE WITH US button styles */
button.drivebutt {
	border: 0px;
	border-radius: 20px;
	background-color: #57eeab;
	padding: 17px;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 100%;
	/* text styles */
	font-weight: bold;
	font-size: 1.5rem;
}
/* Check application status hyperlink styling */
a {
	display: inline-block;
	text-decoration: none;
	color: #ff8480;
}
/************** FOOTER STYLES **************/
/* Footer text styling */
h4 {
	font-size: 1.5rem;
	font-weight: bold;
	padding-bottom: 10px;
}
footer p {
	padding-bottom: 10px;
}
/* Calculate button styles */
.calcbutton {
	width: 100%;
	height: auto;
	border: 0px;
	border-radius: 10px;
	background-color: #ff8480;
	color:  #f7f7ff;
	padding: 10px;
	/* text styles */
	font-weight: bold;
	font-size: 1.5rem;
}
/* input box grid styles and setup */
.footergrid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	gap: 10px;
	margin: 0 auto;
	margin-bottom: 20px;
}
/* layout of hours input box grid */
#hoursgrid {
	grid-column-start: 1;
	grid-column-end: 2;
	text-align: center;
}
/* layout of city input box grid */
#citygrid {
	grid-column-start: 2;
	grid-column-end: span 2;
	text-align: center;	
}
/* layout of the calculate button */
#calcgrid {
	grid-column-start: 1;
	grid-column-end: span 3;
	text-align: center;	
}
/* input box styles */
#hours, #city {
	border: 0px;
	border-radius: 10px;
	box-sizing: border-box;
	width: 100%;
	height: auto;
	padding: 10px;
}
/* Social media buttons flexbox styling */
.social {
	display: flex;
	justify-content: space-evenly;
	max-width: 500px;
	margin: 0 auto;
	width: 100%;
}



/********************************************
				TABLET STYLES
********************************************/
@media screen and (min-width: 650px) {
	/************ DEFAULT PAGE STYLES *************/
	/* changing the width of the container to allow for more space on either side */
	.container {
		max-width: 75%;
	}
	/**************** PAGE ELEMENT STYLES **************/
	/* Changing the size of the font on the apply now form to be bigger */
	h5 {
		font-size: 2rem;
	}
	/***************** FOOTER STYLES *******************/
	/* Changing the button styles to match the input boxes */
	.calcbutton {
		font-size: 100%;
		box-sizing: border-box;
		width: 100%;
		height: 100%;
		padding: 10px;
	}
	/* layout of city input box grid */
	#citygrid {
		grid-column-start: 2;
		grid-column-end: 3;
		text-align: center;	
	}
	/* layout of the calculate button */
	#calcgrid {
		grid-column-start: 3;
		grid-column-end: 4;
		text-align: center;	
	}
	
}



/*********************************************
				DESKTOP STYLES
*********************************************/
@media screen and (min-width: 1100px) {
	/************ DEFAULT PAGE STYLES *************/
	/* changing the width of the container to allow for more space on either side */
	.container {
		max-width: 90%;
	}
	main {
		background-image: url("scooter.svg");
	}
	/**************** PAGE ELEMENT STYLES **************/
	/* crerating a flex box page for re arranging elements */
	.mainflex {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
	}
	/* logo sizing */
	.logo {
		width: 10%;
		padding-bottom: 20px;
	}
	/* setting widths of each of the flexbox properties */
	.applyflex, .titleflex, .scooterflex {
		width: 33%;
	}
	/* taking the margin off the top of the apply now form */
	.apply {
		margin-top: 0px;
		z-index: 1;
	}
	/* making image inside flexbox transparent as to not interfere with the page background */
	.scooterflex {
		opacity: 0;
	}
	/* Changing the size of the font on the apply now form to be smaller */
	h5 {
		font-size: 1.25rem;
	}
	.bg {
		background-image: url("images/bg-image/scooter.svg");
		background-position: center;
		background-repeat: no-repeat;
		background-size: auto 450px;
		z-index: -1;
	}
	/***************** FOOTER STYLES *******************/
	.footerflex {
		display: flex;
		justify-content: space-between;
	}
	/* Social media buttons flexbox styling */
	.socialflex {
		width: 300px;
		justify-content: space-evenly;
	}
	/* removing margin off the bottom of footer */
	.footergrid {
		margin-bottom: 0px;
	}
	/* reordering social media icons */
	#facebookicon {
		order: 3;
	}
	#instagramicon {
		order: 1;
	}
	#twittericon {
		order: 2;
	}
	#linkedinicon {
		order: 4;
	}
}