/****************** CSS RESET **********************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*********************************************************
                    MAIN CSS CODE
**********************************************************/
/* All styles not in a media query are for the mobile layout/defaults */

/**************** DEFAULT PAGE STYLES ********************/
html {
    font-family: 'Raleway', sans-serif;
    color: #3c3b3a;
    margin: 0 auto;
}
footer {
    background-color: #3c3b3a;
    color: #f2f2f2;
}
.container {
    margin: 0 auto;
    max-width: 80%;
}
.navigation {
    background-color:#3c3b3a;
}

/* heading and typography styles/sizes */
h1 {
    font-size: 3rem;
    font-weight: bolder;
}
h2 {
    font-size: 2.5rem;
    font-style: italic;
    font-weight: bolder;
}
h3 {
    font-size: 1.75rem;
    color: #26a682;
}
h4 {
    font-size: 1.5rem;
    color: #f2f2f2;
}
p {
    padding-bottom: 10px;
    line-height: 2.5;
}
/***************** GENERAL PAGE ELEMENT STYLES ********************/
/* Page logo sizing */
.logo {
    width: 100px;
    height: auto;
}
.logo-div  {
    display: flex;
    justify-content: center;
}
/* navigation grid styles & formatting */
.nav-grid {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 30%;
    margin-right: 30%;
}
/* centering content inside each grid */
.nav-grid div {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* link styles */
a:visited,
a:hover {
    font-weight: bold;
}
.navigation a {
    text-decoration: none;
    color: #f2f2f2;
    padding: 10px;
}
/* active page navigation bolded */
#active {
    font-weight: bold;
}
/*********************** FOOTER STYLES ****************************/
.socials {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    padding-bottom: 20px;
}
.facebook,
.instagram,
.twitter,
.youtube {
    display: flex;
    justify-content: center;
    padding: 10px;
}
.foot-container {
    margin: 0 auto;
    max-width: 50%;
    text-align: center;
}
.foot-container h5 {
    font-size: 1.5rem;
    padding-top: 20px;
}

/***************************************************************
                        HOME PAGE STYLES
***************************************************************/

/******************* HOME - INTRO STYLES **********************/
.home-intro {
    display: grid;
    grid-template-columns: 1fr;
}
.home-intro h1{
    padding-bottom: 20px;
    padding-top: 20px;
}
/* Grid stlyes and formatting for activities section*/
.activity {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.activity p {
    color: #26a682;
}
.activity img {
    width: 35px;
    height: 35px;
    padding: 5px;
    color: #3c3b3a;
}
/* centering grid content using flexbox */
.activity div {
    display: flex;
    justify-content: center;
}
.bowling,
.climbing,
.fitness,
.court {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* girl reading books image styling and sizing */
.discover-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
}
.discover-img {
    width: 100%;
    height: auto;
}
/* get started button styles */
.startbutton {
    background-color: #26a682;
    color: #f2f2f2;
    font-size: 2rem;
    font-weight: bold;
    border: none;
    width: 100%;
    padding-left: 65px;
    padding-right: 65px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 40px;
    box-shadow: 0px 10px 20px gray;
}
.start-div {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
/******************* HOME - DISCOVER SECTION *********************/
/* resizing school image*/
.school-img {
    width: 100%;
    height: auto;
    align-self: center;
}
#img-div {
    height: 225px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
/* padding styles for headers in section */
.home-algonquin h2 {
    padding-bottom: 20px;
    padding-top: 20px;
}
.home-algonquin h3 {
    padding-bottom: 10px;
}
/* Learn more button styles */
.learnmore {
    font-size: 1.25rem;
    font-weight: bold;
    background-color: #26a682;
    color: #f2f2f2;
    border: none;
    border-radius: 25px;
    padding: 15px;
    box-shadow: 0px 8px 20px gray;
}
#LM-button {
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
    padding-bottom: 40px;
}
/******************* HOME - PRESIDENT SECTION *********************/
.home-president {
    background-color: #3c3b3a;
    color: #f2f2f2;
    display: flex;
    justify-content: center;
}
.home-president p {
    padding-bottom: 40px;
}
.president-img {
    width: 175px;
    height: auto;
    border-radius: 100%;
    padding: 20px;
    padding-top: 30px;
}
/* centering president section title */
.pres-title {
    text-align: center;
}
.pres-title h4 {
    padding: 10px;
    font-weight: bold;
}
/***************** HOME - ENTERTAINMENT SECTION *******************/
.entertain-img {
    width: 100%;
    height: auto;
    align-self: center;
}
.home-entertain h2 {
    padding-top: 20px;
    padding-bottom: 20px;
}
.home-entertain h3 {
    padding-bottom: 10px;
}

/********************************************************************
                        ABOUT PAGE STYLES
*********************************************************************/

/********************* ABOUT - INTRO SECTION *************************/
#intro h1{
    padding-top: 20px;
    padding-bottom: 20px;
}
.construct-img {
    width: 100%;
    height: auto;
    padding-bottom: 20px;
}
/********************* ABOUT - ABOUT SECTION *************************/
/* section heading styles */
.about #header{
    /* background-image: url("../images/about.jpg"); */
    background: linear-gradient(0deg, rgba(38, 166, 130, 0.5), rgba(38, 166, 130, 0.8)), url("../images/about.jpg");
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    color: #f2f2f2;
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
    line-height: 200px;
}
.about h2 {
    padding-top: 30px;
    padding-bottom: 10px;
}
/********************* ABOUT - SERVICES SECTION **********************/
#service-header {
    background: linear-gradient(0deg, rgba(38, 166, 130, 0.5), rgba(38, 166, 130, 0.8)), url("../images/services.jpg");
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    color: #f2f2f2;
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
    line-height: 200px;
}
.services h2 {
    padding-top: 30px;
    padding-bottom: 10px;
    font-style: normal;
}
/* hiding image on mobile layout */
#bar-img {
    width: 0px;
    height: 0px;
    overflow: hidden;
}
/* subscribe section styling and formatting */
.subscribe {
    background-color: #3c3b3a;
    color: #f2f2f2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 40px;
    padding-top: 30px;
    padding-bottom: 20px;
}
.sub-button {
    background-color: #26a682;
    color: #f2f2f2;
    width: 200px;
    margin: 0 auto;
    border: none;
    border-radius: 20px;
    font-size: 1.5rem;
    margin-top: 15px;
}
/********************* ABOUT - THANK YOU SECTION *********************/
.thanks img{
    width: 70%;
    height: auto;
}
.thanks {
    text-align: center;
    font-weight: bolder;
}
.thanks h1 {
    padding-top: 40px;
    padding-bottom: 30px;
    font-size: 4rem;
}

/*********************************************************************
                        CONTACT PAGE STYLES
**********************************************************************/

/********************** CONTACT - INTRO SECTION ***********************/
.contact-img {
    width: 100%;
    height: auto;
}
/********************** CONTACT - CONTACT FORM ************************/
.contact-form {
    background-color: #26a682;
    color: #f2f2f2;
    border-radius: 30px;
    padding: 15px;
    margin-bottom: 50px;
    margin-top: 10px;
}
/* styling typography inside form */
.contact-form h5 {
    font-size: 2rem;
    font-weight: bold;
    padding-top: 10px;
}
.contact-form p {
    padding-bottom: 0px;
    padding-top: 10px;
}
/* styling input boxes */
.contact-form input {
    width: 90%;
    border: none;
    padding: 10px;
    border-radius: 15px;
}
.contact-form input#message {
    padding-bottom: 50px;
}
/* Styles for submit button */
.submit-form {
    margin: 0 auto;
    background-color: #3c3b3a;
    color: #f2f2f2;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 5px;
    width: 100%;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    box-shadow: 0px 5px 20px #3c3b3a;
}
/******************* CONTACT - OUR LOCATION SECTION *******************/
/* styling typography in section of page */
.location h2,
.location h3{
    font-style: normal;
    color: #3c3b3a;
    padding-bottom: 10px;
}
/* map sizing */
.map {
    width: 100%;
    height: 300px;
}

/********************************************************* 
                        TABLET STYLES 
*********************************************************/
@media screen and (min-width: 575px) {
    /*************** HOMEPAGE STYLES *****************/
    /* changing the layout of the navigation */
    .nav-grid {
        display: flex;
        margin-left: 50px;
        margin-right: 50px;
    }
    .home {
        margin-left: auto;
    }
    /* Grid stlyes and formatting for activities section*/
    .activity {
        display: grid;
        justify-content: center;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }
    /* changing the layout of the president section of page */
    #president-div {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        padding-top: 10px;
    }
    #president-div .pres-title {
        grid-column: 1/2;
    }
    #president-div #president-text {
        grid-column: 2/3;
        grid-row: 1/3;
    }
    /************** ABOUT PAGE STYLES ******************/
    /* changing grid layout of page */
    .services {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    #header {
        grid-column: 1/4;
    }
    /* bar image stlyes */
    #bar-div {
        grid-column: 1/2;
        overflow: hidden;
        display: flex;
        justify-content: center;
    }
    #bar-img {
        height: 400px;
        width: auto;
        padding-top: 25px;
        align-self: center;
    }
    /* bowling image styles */
    #bowl-div {
        grid-column: 3/4;
        overflow: hidden;
        display: flex;
        justify-content: center;
    }
    #bowl-img {
        height: 350px;
        width: auto;
        padding-top: 25px;
    }
    /* fitness image styles */
    #fitness-div {
        grid-column: 1/2;
        overflow: hidden;
        display: flex;
        justify-content: center;
    }
    #fitness-img {
        height: 400px;
        width: auto;
        padding-top: 25px;
    }
    /* climbing image styles */
    #climbing-div {
        grid-column: 3/4;
        overflow: hidden;
        display: flex;
        justify-content: center;
    }
    #climbing-img {
        height: 400px;
        width: auto;
        padding-top: 25px;
    }
    /* content styles */
    #about-restaurant {
        grid-column: 2/4;
        padding-left: 15px;
    }
    #about-bowling {
        grid-column: 1/3;
        padding-right: 15px;
    }
    #about-fitness {
        grid-column: 2/4;
        padding-left: 15px;
    }
    #about-climbing {
        grid-column: 1/3;
        padding-right: 15px;
    }
    /* changing the layout of the subscribe bar */
    .subscribe {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        margin-top: 30px;
    }
    .subscribe #h6 {
        grid-column: 1/3;
    }
}

/*********************************************************
                    DESKTOP STYLES
*********************************************************/
@media screen and (min-width: 960px) {
    
}