/********************************************
                    CSS RESET
*********************************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.25;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/****************************************************************
                        MAIN CSS
*****************************************************************/
html {
    background-color: #323434;
    color: white;
}
.container {
    width: 80%;
    margin: 0 auto;
}
/* page splitter */
.split {
    width: 100%;
    height: 10px;
    background-color: #a112e2;
}
/* Font declarations */
p {
    font-family: 'Roboto';
    font-size: 16pt;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald';
    font-size: 30pt;
}
h2  {
    font-size: 25pt;
}
h3 {
    font-size: 20pt;
}
h4 {
    font-size: 18pt;
}
/**************** NAVIGATION STYLES ******************/
nav {
    background-color: #1d1d1d;
}
#navigation {
    display: grid;
    grid-template-columns: 1fr;
}
#header-logo {
    width: 220px;
    height: auto;
}
.logo-div {
    display: flex;
    justify-content: center;
}
.nav-link {
    display: flex;
    color: white;
    text-decoration: none;
    justify-content: center;
    padding: 20px;
}
.nav-link:hover,
.nav-link#active:hover {
    color: #a112e2;
}
.nav-link#active {
    color: #ffaa33;
}
.nav-div {
    vertical-align: middle;
}
/***************** FOOTER STYLES *******************/
footer {
    background-color: #300544;
}
.footer-nav {
    display: grid;
    grid-template-columns: 1fr;
}
.footer-link {
    display: flex;
    color: white;
    text-decoration: none;
    justify-content: center;
    padding: 20px;
}
.footer-link:hover,
.footer-link#active:hover {
    color: #a112e2;
}
.footer-link#active {
    color: #ffaa33;
}
/****************************************************
                HOMEPAGE STYLES
*****************************************************/
/***************** BANNER STYLES *******************/
#banner {
    background-color: grey;
    position: relative;
    display: block;
    height: 500px;
    padding-top: 60px;
}
/* setting the page banner art */
#banner::before {
    content: "";
    background-image: url("../images/mobile-banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 1;
    overflow: visible;
}
.b-logo-div {
    display: flex;
    justify-content: center;
    z-index: 2;
    position: relative;
}
#banner-logo {
    width: 150px;
    height: auto;
}
#banner-text {
    display: flex;
    justify-content: center;
    padding: 10px;
    z-index: 2;
    position: relative;
}
#port-arrow {
    background-color: #ffaa33;
    border: none;
    z-index: 2;
    position: relative;
}
#port-arrow:hover {
    background-color: #a112e2;
}
#arrow {
    width: 80px;
    justify-content: center;
    vertical-align: middle;
    padding: 10px;
}
/**************** ABOUT ME STYLES ******************/
#homepage-me {
    width: 0px;
    height: 0px;
    overflow: hidden;
}
#about-me {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    height: 600px;
}
/* about me background image */
#about-me::before {
    content: "";
    background-image: url("../images/homepage-me.png");
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 1;
    overflow: visible;
}
/* setting displays for about me text content */
#about-me h1, #about-me p, #about-me h3{
    padding: 10px;
    padding-top: 20px;
    z-index: 2;
    position: relative;
}
#about-me h1 {
    padding-top: 50px;
}
#contact-me-but {
    text-decoration: none;
    color: #ffaa33;
}

/************** SOFTWARE SKILLS STYLES ****************/
#software-skills {
    background-color: #323434;
}
#software-skills h1 {
    padding-top: 20px;
}
#software-img-div {
    display: flex;
    justify-content: center;
}
#software-img {
    width: 100%;
    justify-content: center;
    padding-top: 30px;
}
#software-img.desktop-image {
    display: none;
}
/******************************************************
                    PORTFOLIO PAGE
*******************************************************/
#portfolio-background {
    background-color: #323434;
    height: 1350px;
    padding-top: 40px;
}
.artwork {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
}
/* setting page artwork size */
.work {
    width: 200px;
    height: 200px;
    margin: 10px;
    display: flex;
}
/* portfolio pieces */
#dragon {
    background-image: url("../images/portfolio work/dragon.jpg");
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
#rhino {
    background-image: url("../images/portfolio work/black-rhino.png");
    background-size: cover;
    background-position: center;
    overflow: hidden;
    background-color: #f2f2f2;
}
#poster1 {
    background-image: url("../images/portfolio work/poster1.jpg");
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
#poster2 {
    background-image: url("../images/portfolio work/poster2.jpg");
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
#stroll {
    background-image: url("../images/portfolio work/stroll.jpg");
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
#brick {
    background-image: url("../images/portfolio work/brick.jpg");
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
#sunset {
    background-image: url("../images/portfolio work/sunset.jpg");
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
#green {
    background-image: url("../images/portfolio work/greenery.jpg");
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
#statue {
    background-image: url("../images/portfolio work/statue.jpg");
    background-size: cover;
    overflow: hidden;
}
#mini-coop {
    background-image: url("../images/portfolio work/mini-coop.jpg");
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
#zula {
    background-image: url("../images/portfolio work/zula.jpg");
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
#marys-moods {
    background-image: url("../images/portfolio work/Marys-Moods.png");
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
/******************************************************
                    CONTACT PAGE
*******************************************************/
#contact-page-div h1 {
    padding-top: 20px;
}
#contact-page-div {
    display: grid;
    grid-template-columns: 1fr;
}
.contact-form {
    color: #f2f2f2;
    border-radius: 30px;
    padding: 15px;
    margin-bottom: 50px;
    margin-top: 10px;
}
.contact-form p {
    padding-bottom: 0px;
    padding-top: 20px;
}
/* styling input boxes */
.contact-form input {
    width: 90%;
    border: none;
    padding: 10px;
}
.contact-form input#message {
    padding-bottom: 150px;
}
.submit-form {
    background-color: #ffaa33;
    color: #f2f2f2;
    margin-top: 20px;
    padding: 20px;
}
.contact-image {
    display: none;
}
/****************************************************
                MEDIA QUERIES
*****************************************************/
@media screen and (min-width: 700px) {
    /**************** NAVIGATION STYLES ******************/
    #header-logo {
        width: 180px;
    }
    #navigation {
        display: flex;
    }
    #home {
        margin-left: auto;
    }
    .nav-div {
        vertical-align: bottom;
    }
    /**************** FOOTER STYLES ******************/
    .footer-nav {
        display: flex;
        justify-content: center;
    }
    /************** SOFTWARE SKILLS STYLES ****************/
    #software-skills{
        text-align: center;
    }
    #software-img {
        width: 530px;
    }
    /******************************************************
                        PORTFOLIO PAGE
    *******************************************************/
    #portfolio-background {
        height: 900px;
    }
    .artwork {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    /******************************************************
                        CONTACT PAGE
    *******************************************************/
    #contact-page {
        background-image: url("../images/contact-bg.png");
        background-size: cover;
    }
}

@media screen and (min-width: 1000px) {
    /**************** ABOUT ME STYLES ******************/
    #about-me {
        grid-template-columns: 1fr 1fr;
    }
    #homepage-me {
        width: auto;
        height: auto;
        opacity: 100%;
        z-index: 2;
    }
    #homepage-me img {
        width: 410px;
        
    }
    #about-me::before {
        opacity: 0%;
        z-index: 1;
    }
    /************** SOFTWARE SKILLS STYLES ****************/
    #software-img.desktop-image {
        display: block;
        width: 800px;
        padding-bottom: 20px;
    }
    #software-img.mobile-image {
        display: none;
    }

    #contact-page {
        background-image: none;
    }
    #contact-page-div {
        grid-template-columns: 1fr 1fr;
    }
    .contact-image {
        display: block;
        width: 400px;
        margin: 0 auto;
        padding-top: 30px;
    }
    input {
        padding-bottom: 20px;
    }
    /******************************************************
                        PORTFOLIO PAGE
    *******************************************************/
    #portfolio-background {
        height: 800px;
    }
    .artwork {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}