/********************************************
                    CSS RESET
*********************************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.25;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/****************************************************************
                        MAIN CSS
*****************************************************************/
html {
    background-color: #323434;
    color: white;
}
.container {
    width: 80%;
    margin: 0 auto;
}
/* page splitter */
.split {
    width: 100%;
    height: 10px;
    background-color: #a112e2;
}
/* Font declarations */
p {
    font-family: 'Roboto';
    font-size: 16pt;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald';
    font-size: 30pt;
}
h2  {
    font-size: 25pt;
}
h3 {
    font-size: 20pt;
}
h4 {
    font-size: 18pt;
}
/**************** NAVIGATION STYLES ******************/
nav {
    background-color: #1d1d1d;
}
#header-logo {
    width: 220px;
    height: auto;
}
.logo-div {
    display: flex;
    justify-content: center;
}
.nav-link {
    display: flex;
    color: white;
    text-decoration: none;
    justify-content: center;
    padding: 20px;
}
.nav-link:hover,
.nav-link#active:hover {
    color: #a112e2;
}
.nav-link#active {
    color: #ffaa33;
}
/***************** BANNER STYLES *******************/
#banner {
    background-color: grey;
}
.b-logo-div {
    display: flex;
    justify-content: center;
}
#banner-logo {
    width: 150px;
    height: auto;
}
#banner-text {
    display: flex;
    justify-content: center;
    padding: 10px;
}
#port-arrow {
    background-color: #ffaa33;
    border: none;
}
#port-arrow:hover {
    background-color: #a112e2;
}
#arrow {
    width: 80px;
    justify-content: center;
    vertical-align: middle;
    padding: 10px;
}
/**************** ABOUT ME STYLES ******************/
#about-me {
    position: relative;
    display: block;
}
#about-me::before {
    content: "";
    background-image: url("../images/homepage-me.png");
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 1;
    overflow: visible;
}
#about-me h1, #about-me p, #about-me h3{
    padding: 10px;
    z-index: 2;
    position: relative;
}
#about-me h3 {
    text-decoration: none;
    color: #ffaa33;
}
/************** SOFTWARE SKILLS STYLES ****************/
#software-skills {
    background-color: grey;
}